include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include config *.ini *.example
recursive-include gnat *.py py.typed
recursive-include tests *.py
recursive-include gnat/context *.py
